image: hotio/cloudflare-ddns:{{#if build.tag}}latest{{else}}develop{{/if}}
manifests:
  -
    image: hotio/cloudflare-ddns:{{#if build.tag}}{{build.tag}}{{else}}develop{{/if}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: hotio/cloudflare-ddns:{{#if build.tag}}{{build.tag}}{{else}}develop{{/if}}-linux-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: hotio/cloudflare-ddns:{{#if build.tag}}{{build.tag}}{{else}}develop{{/if}}-linux-arm
    platform:
      architecture: arm
      os: linux
      variant: v7
